@tailwind base;
@tailwind components;
@tailwind utilities;



/* ultility  */

.btn-1 { @apply rounded-full bg-blue-950 text-white w-56 py-2 px-5 ; }
.btn-2 { @apply rounded-full bg-blue-400 text-white w-56 py-2 px-5 ; }
.li-content { @apply text-start bg-blue-400  text-white px-5 py-1 mt-5 border rounded-lg;}
.li-content-bg-slate { @apply text-start bg-slate-200  text-slate-400 px-5 py-1 mt-5 border rounded-lg;}


 /* Home and Navigation */
.header-box {
  @apply 
  flex 
  bg-blue-950 
  text-white
  justify-between
  items-center
  px-28
  py-5
  max-h-32


  max-sm:px-10
  max-sm:py-0
  max-sm:max-h-max
  max-sm:flex-col
  ;
} 

.ul-header-1 {
  @apply
  flex 
  justify-between
  items-center
  gap-10
  font-bold


  
  max-sm:gap-2
  max-sm:flex-col
  max-sm:mb-2
  ;
}

.div-header-1 {
  @apply
  flex
  relative
  bottom-6
  left-80
  ml-3
  w-max
bg-blue-500 
  font-bold
text-black 
  px-5 
  py-1 
  rounded-sm


  max-sm:static
  max-sm:text-sm
  max-sm:px-1
  max-sm:py-1
  max-sm:ml-0
  max-sm:mb-5
  ;
}

.ul-header-2 {
  @apply
  flex 
  gap-5


  max-sm:gap-0
  ;
}

/* info pag  */
.div-info-pag {
  @apply
  flex
  bg-white
  justify-between
  items-center
  px-28
  py-1

  
  max-sm:px-0
  max-sm:py-2
  max-sm:gap-2
  max-sm:flex-col
  ;
}

/* main content  */

/* content 1 */
.div-content-1 {
  @apply
  flex
  justify-between
  px-28
  py-5
  gap-3


  max-sm:flex-col
  max-sm:px-5
  max-sm:py-0
  max-sm:items-center
  max-sm:gap-5
  max-sm:mt-5
  max-sm:mb-12
  ;
}

/* content 2 */
.div-content-2 {
  @apply
  px-28
  py-5


  max-sm:px-5
  max-sm:py-0
  ;
}

.div-post {
  @apply
  flex
  justify-between


  max-sm:flex-col
  ;
}

.post-inst {
  @apply
  flex
  items-center
  w-96
  text-blue-400
  mt-8

  max-sm:w-72
  max-sm:mt-5
  ;
}


/* content 3 */
.div-content-3 {
  @apply
  px-28
  py-5
  mb-10


  max-sm:px-5
  max-sm:py-0
  ;
}

.div-post-info {
  @apply
  flex
  justify-between


  max-sm:flex-col
  ;
}

.post-info {
  @apply
  flex
  items-center
  w-96
  text-blue-400

  max-sm:w-80
  ;
}

/* content 4 */
.div-content-4 {
  @apply
  px-28
  py-10
  bg-blue-950
  justify-center
  items-center
  text-center


  max-sm:px-5
  max-sm:py-5
  max-sm:pt-5
  ;
}

/* content 5 */
.div-content-5 {
  @apply
  px-28
  py-5
  mt-10

  max-sm:px-5
  max-sm:py-0
  ;
}

.div-post-image {
  @apply
  flex
  justify-between
  pt-5

  max-sm:overflow-auto
  max-sm:gap-8
  ;
}

.post-image {
  @apply
  flex
  flex-col
  items-center
  w-96
  text-blue-950
  ;
}

/* content 6 */
.div-content-6 {
  @apply
  px-28
  py-5
  flex
  justify-between
  mt-10


  max-sm:px-5
  max-sm:py-0
  max-sm:flex-col
  max-sm:gap-5
  max-sm:justify-center
  max-sm:items-center
  ;
}

/* content end  */
.div-content-end {
  @apply
  px-28
  py-5
  mt-10
  flex
  justify-between
  text-white
  bg-blue-950 

  max-sm:px-5
  max-sm:py-2
  ;
}

.rights {
  @apply
  bg-black
  text-white
  text-xs
  px-28
  py-3

  max-sm:px-5
  max-sm:py-2
}



